@use "assets/scss/chakra-override.scss";

.page-container {
  height: 100vh;
  width: 100vw;
}

.css-1l1nhrq {
  padding: 10px 10px !important;
  font-weight: 600;

  &[data-type="success"] {
    background-color: #1fd760;
  }
}

body {
  color: white;
  font-size: 14px;
}

.spotify-icon-button {
  &:hover {
    stroke-width: 2.3 !important;
  }
}

.spotify-progress {
  cursor: pointer;

  &:hover {
    .bar {
      background-color: #1fd760 !important;
      transition: 0.2s all ease-in-out;

      &::after {
        content: "";
        background-color: white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }
  }
}

.spotify-item {
  height: 320px;
  width: 180px;
  border-radius: 6px;
  overflow: hidden;
}