@use "custom_variable";
@use "tailwindcss";

@for $v from 1 through 500 {
  //define width class
  .w-#{$v}px    { width: $v + px !important; }

  //define height class
  .h-#{$v}px    { height: $v + px !important; }

  .m-#{$v}px    { margin: $v + px !important; }
  .p-#{$v}px    { padding: $v + px !important; }
  .gap-#{$v}px  { gap: $v + px !important; }
}

@for $v from 1 through 100 {
  .from-#{$v} {
    background-color: red !important;
  }
}

.from-50 {
  background-color: red !important;
}

.to-50 {
  background-color: red;
}



.bg-dark-base {
  background-color:  custom_variable.$color-primary-dark !important;
}

.transform-scale {
  transition: 0.3s all ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.custom-icon-button {
  background-color: custom_variable.$color-dark-normal !important;
  transition: 0.2s all ease-in-out;
  color: white;

  &:hover {
    background-color: custom_variable.$color-dark-highlight !important;
  }
}

.button-dark {
  height: auto;
  border-radius: 20px;
  padding: 8px 15px !important;
  background-color: custom_variable.$color-dark-normal !important;
  transition: 0.2s all ease-in-out;
  color: white;

  &:hover {
    background-color: custom_variable.$color-dark-highlight !important;
  }

  &.active {
    background-color: white !important;
    color: custom_variable.$color-dark-normal !important;
  }
}

@theme {
  --color-main-green: #1fd760
}